use flake ../librelane/.#dev

export PROJECT_ROOT="$(git rev-parse --show-toplevel)"

export PDK_ROOT="/usr/local/share/pdk"
export PDK="gf180mcuD"

# export XSCHEM_LIBRARY_PATH=$XSCHEM_LIBRARY_PATH:$PROJECT_ROOT
export XSCHEM_SHAREDIR=$(dirname $(dirname $(which xschem)))/share/xschem
